# REDES NEURAIS ARTIFICIAIS

[Aula 3 de Deep Learning](http://bit.ly/dn-unb03) da Engenharia de Software da UnB

# Parte 1 - Pré-processamento dos Dados

### Importar as libs

In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf

In [2]:
tf.__version__

'2.5.0'

### Importar o dataset

In [3]:
dataset = pd.read_csv('Churn_Modelling.csv')
dataset.head(20)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
5,6,15574012,Chu,645,Spain,Male,44,8,113755.78,2,1,0,149756.71,1
6,7,15592531,Bartlett,822,France,Male,50,7,0.00,2,1,1,10062.80,0
7,8,15656148,Obinna,376,Germany,Female,29,4,115046.74,4,1,0,119346.88,1
8,9,15792365,He,501,France,Male,44,4,142051.07,2,0,1,74940.50,0
9,10,15592389,H?,684,France,Male,27,2,134603.88,1,1,1,71725.73,0
10,11,15767821,Bearce,528,France,Male,31,6,102016.72,2,0,0,80181.12,0
11,12,15737173,Andrews,497,Spain,Male,24,3,0.00,2,1,0,76390.01,0
12,13,15632264,Kay,476,France,Female,34,10,0.00,2,1,0,26260.98,0
13,14,15691483,Chin,549,France,Female,25,5,0.00,2,0,0,190857.79,0
14,15,15600882,Scott,635,Spain,Female,35,7,0.00,2,1,1,65951.65,0
15,16,15643966,Goforth,616,Germany,Male,45,3,143129.41,2,0,1,64327.26,0
16,17,15737452,Romeo,653,Germany,Male,58,1,132602.88,1,1,0,5097.67,1
17,18,15788218,Henderson,549,Spain,Female,24,9,0.00,2,1,1,14406.41,0
18,19,15661507,Muldrow,587,Spain,Male,45,6,0.00,1,0,0,158684.81,0
19,20,15568982,Hao,726,France,Female,24,6,0.00,2,1,1,54724.03,0

In [4]:
dataset.Geography.value_counts()

France     5014
Germany    2509
Spain      2477
Name: Geography, dtype: int64

In [5]:
X = dataset.iloc[:, 3:13].values
y = dataset.iloc[:, 13].values
print("X >>\n",X)
print("y >>\n",y)

X >>
 [[619 'France' 'Female' ... 1 1 101348.88]
 [608 'Spain' 'Female' ... 0 1 112542.58]
 [502 'France' 'Female' ... 1 0 113931.57]
 ...
 [709 'France' 'Female' ... 0 1 42085.58]
 [772 'Germany' 'Male' ... 1 0 92888.52]
 [792 'France' 'Female' ... 1 0 38190.78]]
y >>
 [1 0 1 ... 1 1 0]

### Transformando os dados categóricos

In [6]:
# Label Encoding the "Gender" column
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X[:, 2] = le.fit_transform(X[:, 2])
print(X[:, 2])

[0 0 0 ... 0 1 0]

In [7]:
# One Hot Encoding the "Geography" column
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1])], remainder='passthrough')
X = np.array(ct.fit_transform(X))
print(X)

[[1.0 0.0 0.0 ... 1 1 101348.88]
 [0.0 0.0 1.0 ... 0 1 112542.58]
 [1.0 0.0 0.0 ... 1 0 113931.57]
 ...
 [1.0 0.0 0.0 ... 0 1 42085.58]
 [0.0 1.0 0.0 ... 1 0 92888.52]
 [1.0 0.0 0.0 ... 1 0 38190.78]]

# Dividindo o dataset em conjunto de treinamento e conjunto de teste

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 0)

# Feature Scaling

In [9]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [10]:
np.shape(X_train)

(8000, 12)

In [11]:
X_train

array([[-1.01460667, -0.5698444 ,  1.74309049, ...,  0.64259497,
        -1.03227043,  1.10643166],
       [-1.01460667,  1.75486502, -0.57369368, ...,  0.64259497,
         0.9687384 , -0.74866447],
       [ 0.98560362, -0.5698444 , -0.57369368, ...,  0.64259497,
        -1.03227043,  1.48533467],
       ...,
       [ 0.98560362, -0.5698444 , -0.57369368, ...,  0.64259497,
        -1.03227043,  1.41231994],
       [-1.01460667, -0.5698444 ,  1.74309049, ...,  0.64259497,
         0.9687384 ,  0.84432121],
       [-1.01460667,  1.75486502, -0.57369368, ...,  0.64259497,
        -1.03227043,  0.32472465]])

---
# Parte 2 -Vamos construir uma ANN!

### Initializing the ANN

In [12]:
ann = tf.keras.models.Sequential()

 ###  Adding the input layer and the first hidden layer

In [13]:
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

### Adding the second hidden layer

In [14]:
ann.add(tf.keras.layers.Dense(units=9, activation='tanh'))

### Adding the output layer

In [15]:
ann.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

### Compiling the ANN

In [16]:
ann.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

## Part 3 - Training the ANN

### Training the ANN on the Training set

In [17]:
ann.fit(X_train, y_train, batch_size = 32, epochs = 100)

Epoch 1/100
250/250 [==============================] - 1s 909us/step - loss: 0.5751 - accuracy: 0.7149
Epoch 2/100
250/250 [==============================] - 0s 857us/step - loss: 0.4719 - accuracy: 0.7965
Epoch 3/100
250/250 [==============================] - 0s 813us/step - loss: 0.4453 - accuracy: 0.8027
Epoch 4/100
250/250 [==============================] - 0s 845us/step - loss: 0.4336 - accuracy: 0.8085
Epoch 5/100
250/250 [==============================] - 0s 797us/step - loss: 0.4271 - accuracy: 0.8115
Epoch 6/100
250/250 [==============================] - 0s 797us/step - loss: 0.4228 - accuracy: 0.8166
Epoch 7/100
250/250 [==============================] - 0s 793us/step - loss: 0.4183 - accuracy: 0.8205
Epoch 8/100
250/250 [==============================] - 0s 825us/step - loss: 0.4132 - accuracy: 0.8227
Epoch 9/100
250/250 [==============================] - 0s 813us/step - loss: 0.4073 - accuracy: 0.8267
Epoch 10/100
250/250 [==============================] - 0s 801us/step - loss: 0.3985 - accuracy: 0.8328
Epoch 11/100
250/250 [==============================] - 0s 805us/step - loss: 0.3889 - accuracy: 0.8385
Epoch 12/100
250/250 [==============================] - 0s 841us/step - loss: 0.3799 - accuracy: 0.8438
Epoch 13/100
250/250 [==============================] - 0s 817us/step - loss: 0.3725 - accuracy: 0.8489
Epoch 14/100
250/250 [==============================] - 0s 981us/step - loss: 0.3666 - accuracy: 0.8521
Epoch 15/100
250/250 [==============================] - 0s 821us/step - loss: 0.3616 - accuracy: 0.8553
Epoch 16/100
250/250 [==============================] - 0s 873us/step - loss: 0.3574 - accuracy: 0.8561
Epoch 17/100
250/250 [==============================] - 0s 897us/step - loss: 0.3536 - accuracy: 0.8586
Epoch 18/100
250/250 [==============================] - 0s 861us/step - loss: 0.3515 - accuracy: 0.8577
Epoch 19/100
250/250 [==============================] - 0s 857us/step - loss: 0.3492 - accuracy: 0.8593
Epoch 20/100
250/250 [==============================] - 0s 853us/step - loss: 0.3472 - accuracy: 0.8599
Epoch 21/100
250/250 [==============================] - 0s 841us/step - loss: 0.3454 - accuracy: 0.8610
Epoch 22/100
250/250 [==============================] - 0s 813us/step - loss: 0.3449 - accuracy: 0.8575
Epoch 23/100
250/250 [==============================] - 0s 805us/step - loss: 0.3434 - accuracy: 0.8596
Epoch 24/100
250/250 [==============================] - 0s 833us/step - loss: 0.3423 - accuracy: 0.8590
Epoch 25/100
250/250 [==============================] - 0s 813us/step - loss: 0.3417 - accuracy: 0.8612
Epoch 26/100
250/250 [==============================] - 0s 921us/step - loss: 0.3412 - accuracy: 0.8622
Epoch 27/100
250/250 [==============================] - 0s 829us/step - loss: 0.3410 - accuracy: 0.8610
Epoch 28/100
250/250 [==============================] - 0s 801us/step - loss: 0.3406 - accuracy: 0.8610
Epoch 29/100
250/250 [==============================] - 0s 805us/step - loss: 0.3403 - accuracy: 0.8624
Epoch 30/100
250/250 [==============================] - 0s 925us/step - loss: 0.3397 - accuracy: 0.8616
Epoch 31/100
250/250 [==============================] - 0s 841us/step - loss: 0.3397 - accuracy: 0.8618
Epoch 32/100
250/250 [==============================] - 0s 825us/step - loss: 0.3395 - accuracy: 0.8619
Epoch 33/100
250/250 [==============================] - 0s 821us/step - loss: 0.3388 - accuracy: 0.8622
Epoch 34/100
250/250 [==============================] - 0s 825us/step - loss: 0.3387 - accuracy: 0.8609
Epoch 35/100
250/250 [==============================] - 0s 829us/step - loss: 0.3390 - accuracy: 0.8624
Epoch 36/100
250/250 [==============================] - 0s 809us/step - loss: 0.3386 - accuracy: 0.8620
Epoch 37/100
250/250 [==============================] - 0s 909us/step - loss: 0.3387 - accuracy: 0.8620
Epoch 38/100
250/250 [==============================] - 0s 845us/step - loss: 0.3382 - accuracy: 0.8619
Epoch 39/100
250/250 [==============================] - 0s 805us/step - loss: 0.3382 - accuracy: 0.8609
Epoch 40/100
250/250 [==============================] - 0s 849us/step - loss: 0.3381 - accuracy: 0.8622
Epoch 41/100
250/250 [==============================] - 0s 821us/step - loss: 0.3379 - accuracy: 0.8633
Epoch 42/100
250/250 [==============================] - 0s 837us/step - loss: 0.3379 - accuracy: 0.8630
Epoch 43/100
250/250 [==============================] - 0s 981us/step - loss: 0.3375 - accuracy: 0.8634
Epoch 44/100
250/250 [==============================] - 0s 937us/step - loss: 0.3376 - accuracy: 0.8630
Epoch 45/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3372 - accuracy: 0.8627
Epoch 46/100
250/250 [==============================] - 0s 885us/step - loss: 0.3378 - accuracy: 0.8622
Epoch 47/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3372 - accuracy: 0.8631
Epoch 48/100
250/250 [==============================] - 0s 893us/step - loss: 0.3374 - accuracy: 0.8627
Epoch 49/100
250/250 [==============================] - 0s 801us/step - loss: 0.3371 - accuracy: 0.8621
Epoch 50/100
250/250 [==============================] - 0s 765us/step - loss: 0.3373 - accuracy: 0.8631
Epoch 51/100
250/250 [==============================] - 0s 841us/step - loss: 0.3366 - accuracy: 0.8630
Epoch 52/100
250/250 [==============================] - 0s 937us/step - loss: 0.3366 - accuracy: 0.8619
Epoch 53/100
250/250 [==============================] - 0s 901us/step - loss: 0.3366 - accuracy: 0.8635
Epoch 54/100
250/250 [==============================] - 0s 881us/step - loss: 0.3365 - accuracy: 0.8618
Epoch 55/100
250/250 [==============================] - 0s 889us/step - loss: 0.3368 - accuracy: 0.8615
Epoch 56/100
250/250 [==============================] - 0s 913us/step - loss: 0.3360 - accuracy: 0.8625
Epoch 57/100
250/250 [==============================] - 0s 813us/step - loss: 0.3360 - accuracy: 0.8640
Epoch 58/100
250/250 [==============================] - 0s 841us/step - loss: 0.3358 - accuracy: 0.8637
Epoch 59/100
250/250 [==============================] - 0s 869us/step - loss: 0.3362 - accuracy: 0.8620
Epoch 60/100
250/250 [==============================] - 0s 893us/step - loss: 0.3363 - accuracy: 0.8631
Epoch 61/100
250/250 [==============================] - 0s 837us/step - loss: 0.3361 - accuracy: 0.8618
Epoch 62/100
250/250 [==============================] - 0s 865us/step - loss: 0.3357 - accuracy: 0.8634
Epoch 63/100
250/250 [==============================] - 0s 837us/step - loss: 0.3358 - accuracy: 0.8627
Epoch 64/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3355 - accuracy: 0.8637
Epoch 65/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3353 - accuracy: 0.8622
Epoch 66/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3356 - accuracy: 0.8620
Epoch 67/100
250/250 [==============================] - 0s 801us/step - loss: 0.3351 - accuracy: 0.8631
Epoch 68/100
250/250 [==============================] - 0s 977us/step - loss: 0.3353 - accuracy: 0.8635
Epoch 69/100
250/250 [==============================] - 0s 861us/step - loss: 0.3349 - accuracy: 0.8621
Epoch 70/100
250/250 [==============================] - 0s 933us/step - loss: 0.3349 - accuracy: 0.8636
Epoch 71/100
250/250 [==============================] - 0s 821us/step - loss: 0.3350 - accuracy: 0.8637
Epoch 72/100
250/250 [==============================] - 0s 877us/step - loss: 0.3355 - accuracy: 0.8626
Epoch 73/100
250/250 [==============================] - 0s 877us/step - loss: 0.3351 - accuracy: 0.8620
Epoch 74/100
250/250 [==============================] - 0s 857us/step - loss: 0.3356 - accuracy: 0.8630
Epoch 75/100
250/250 [==============================] - 0s 869us/step - loss: 0.3354 - accuracy: 0.8639
Epoch 76/100
250/250 [==============================] - 0s 981us/step - loss: 0.3351 - accuracy: 0.8646
Epoch 77/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3348 - accuracy: 0.8626
Epoch 78/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3350 - accuracy: 0.8625
Epoch 79/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3346 - accuracy: 0.8619
Epoch 80/100

250/250 [==============================] - 0s 785us/step - loss: 0.3347 - accuracy: 0.8641
Epoch 81/100
250/250 [==============================] - 0s 949us/step - loss: 0.3348 - accuracy: 0.8620
Epoch 82/100
250/250 [==============================] - 0s 845us/step - loss: 0.3352 - accuracy: 0.8614
Epoch 83/100
250/250 [==============================] - 0s 905us/step - loss: 0.3346 - accuracy: 0.8635
Epoch 84/100
250/250 [==============================] - 0s 861us/step - loss: 0.3343 - accuracy: 0.8622
Epoch 85/100
250/250 [==============================] - 0s 913us/step - loss: 0.3348 - accuracy: 0.8614
Epoch 86/100
250/250 [==============================] - 0s 933us/step - loss: 0.3341 - accuracy: 0.8618
Epoch 87/100
250/250 [==============================] - 0s 773us/step - loss: 0.3347 - accuracy: 0.8624
Epoch 88/100
250/250 [==============================] - 0s 869us/step - loss: 0.3348 - accuracy: 0.8621
Epoch 89/100
250/250 [==============================] - 0s 861us/step - loss: 0.3341 - accuracy: 0.8616
Epoch 90/100
250/250 [==============================] - 0s 865us/step - loss: 0.3344 - accuracy: 0.8619
Epoch 91/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3345 - accuracy: 0.8634
Epoch 92/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3338 - accuracy: 0.8629
Epoch 93/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3338 - accuracy: 0.8643
Epoch 94/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3339 - accuracy: 0.8629
Epoch 95/100
250/250 [==============================] - 0s 897us/step - loss: 0.3337 - accuracy: 0.8637
Epoch 96/100
250/250 [==============================] - 0s 997us/step - loss: 0.3340 - accuracy: 0.8639
Epoch 97/100
250/250 [==============================] - 0s 885us/step - loss: 0.3342 - accuracy: 0.8621
Epoch 98/100
250/250 [==============================] - 0s 841us/step - loss: 0.3337 - accuracy: 0.8600
Epoch 99/100
250/250 [==============================] - 0s 865us/step - loss: 0.3342 - accuracy: 0.8631
Epoch 100/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3342 - accuracy: 0.8610

# Parte 3 - Fazendo predições e avaliando o modelo

## Prevendo os resultados com o conjunto de testes

In [18]:
y_pred = ann.predict(X_test)
y_pred

array([[0.25482342],
       [0.34814575],
       [0.1102854 ],
       ...,
       [0.1595586 ],
       [0.22229427],
       [0.24109763]], dtype=float32)

In [19]:
y_pred = (y_pred > 0.5)
y_pred

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

# Criando uma Confusion Matrix

In [20]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
print(cm)

[[1513   82]
 [ 198  207]]

##  A Confusion Matrix Indica um erro de aproximadamente 14% e acerto de 86%

# FIM

> Professor Diego Dorgam  
> [@diegodorgam](https://twitter.com/diegodorgam)