# REDES NEURAIS ARTIFICIAIS

[Aula 3 de Deep Learning](http://bit.ly/dn-unb03) da Engenharia de Software da UnB

# Parte 1 - Pré-processamento dos Dados

### Importar as libs

In [54]:
import numpy as np
import pandas as pd
import tensorflow as tf

In [55]:
tf.__version__

'2.3.4'

### Importar o dataset

In [56]:
dataset = pd.read_csv('Churn_Modelling.csv')
dataset.head(50)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
5,6,15574012,Chu,645,Spain,Male,44,8,113755.78,2,1,0,149756.71,1
6,7,15592531,Bartlett,822,France,Male,50,7,0.00,2,1,1,10062.80,0
7,8,15656148,Obinna,376,Germany,Female,29,4,115046.74,4,1,0,119346.88,1
8,9,15792365,He,501,France,Male,44,4,142051.07,2,0,1,74940.50,0
9,10,15592389,H?,684,France,Male,27,2,134603.88,1,1,1,71725.73,0
10,11,15767821,Bearce,528,France,Male,31,6,102016.72,2,0,0,80181.12,0
11,12,15737173,Andrews,497,Spain,Male,24,3,0.00,2,1,0,76390.01,0
12,13,15632264,Kay,476,France,Female,34,10,0.00,2,1,0,26260.98,0
13,14,15691483,Chin,549,France,Female,25,5,0.00,2,0,0,190857.79,0
14,15,15600882,Scott,635,Spain,Female,35,7,0.00,2,1,1,65951.65,0
15,16,15643966,Goforth,616,Germany,Male,45,3,143129.41,2,0,1,64327.26,0
16,17,15737452,Romeo,653,Germany,Male,58,1,132602.88,1,1,0,5097.67,1
17,18,15788218,Henderson,549,Spain,Female,24,9,0.00,2,1,1,14406.41,0
18,19,15661507,Muldrow,587,Spain,Male,45,6,0.00,1,0,0,158684.81,0
19,20,15568982,Hao,726,France,Female,24,6,0.00,2,1,1,54724.03,0
20,21,15577657,McDonald,732,France,Male,41,8,0.00,2,1,1,170886.17,0
21,22,15597945,Dellucci,636,Spain,Female,32,8,0.00,2,1,0,138555.46,0
22,23,15699309,Gerasimov,510,Spain,Female,38,4,0.00,1,1,0,118913.53,1
23,24,15725737,Mosman,669,France,Male,46,3,0.00,2,0,1,8487.75,0
24,25,15625047,Yen,846,France,Female,38,5,0.00,1,1,1,187616.16,0
25,26,15738191,Maclean,577,France,Male,25,3,0.00,2,0,1,124508.29,0
26,27,15736816,Young,756,Germany,Male,36,2,136815.64,1,1,1,170041.95,0
27,28,15700772,Nebechi,571,France,Male,44,9,0.00,2,0,0,38433.35,0
28,29,15728693,McWilliams,574,Germany,Female,43,3,141349.43,1,1,1,100187.43,0
29,30,15656300,Lucciano,411,France,Male,29,0,59697.17,2,1,1,53483.21,0
30,31,15589475,Azikiwe,591,Spain,Female,39,3,0.00,3,1,0,140469.38,1
31,32,15706552,Odinakachukwu,533,France,Male,36,7,85311.70,1,0,1,156731.91,0
32,33,15750181,Sanderson,553,Germany,Male,41,9,110112.54,2,0,0,81898.81,0
33,34,15659428,Maggard,520,Spain,Female,42,6,0.00,2,1,1,34410.55,0
34,35,15732963,Clements,722,Spain,Female,29,9,0.00,2,1,1,142033.07,0
35,36,15794171,Lombardo,475,France,Female,45,0,134264.04,1,1,0,27822.99,1
36,37,15788448,Watson,490,Spain,Male,31,3,145260.23,1,0,1,114066.77,0
37,38,15729599,Lorenzo,804,Spain,Male,33,7,76548.60,1,0,1,98453.45,0
38,39,15717426,Armstrong,850,France,Male,36,7,0.00,1,1,1,40812.90,0
39,40,15585768,Cameron,582,Germany,Male,41,6,70349.48,2,0,1,178074.04,0
40,41,15619360,Hsiao,472,Spain,Male,40,4,0.00,1,1,0,70154.22,0
41,42,15738148,Clarke,465,France,Female,51,8,122522.32,1,0,0,181297.65,1
42,43,15687946,Osborne,556,France,Female,61,2,117419.35,1,1,1,94153.83,0
43,44,15755196,Lavine,834,France,Female,49,2,131394.56,1,0,0,194365.76,1
44,45,15684171,Bianchi,660,Spain,Female,61,5,155931.11,1,1,1,158338.39,0
45,46,15754849,Tyler,776,Germany,Female,32,4,109421.13,2,1,1,126517.46,0
46,47,15602280,Martin,829,Germany,Female,27,9,112045.67,1,1,1,119708.21,1
47,48,15771573,Okagbue,637,Germany,Female,39,9,137843.80,1,1,1,117622.80,1
48,49,15766205,Yin,550,Germany,Male,38,2,103391.38,1,0,1,90878.13,0
49,50,15771873,Buccho,776,Germany,Female,37,2,103769.22,2,1,0,194099.12,0

In [57]:
dataset.Geography.value_counts()

France     5014
Germany    2509
Spain      2477
Name: Geography, dtype: int64

In [58]:
X = dataset.iloc[:, 3:13].values
y = dataset.iloc[:, 13].values
print("X >>\n",X)
print("y >>\n",y)

X >>
 [[619 'France' 'Female' ... 1 1 101348.88]
 [608 'Spain' 'Female' ... 0 1 112542.58]
 [502 'France' 'Female' ... 1 0 113931.57]
 ...
 [709 'France' 'Female' ... 0 1 42085.58]
 [772 'Germany' 'Male' ... 1 0 92888.52]
 [792 'France' 'Female' ... 1 0 38190.78]]
y >>
 [1 0 1 ... 1 1 0]

### Transformando os dados categóricos

In [59]:
# Label Encoding the "Gender" column
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X[:, 2] = le.fit_transform(X[:, 2])
print(X[:, 2])

[0 0 0 ... 0 1 0]

In [60]:
# One Hot Encoding the "Geography" column
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1])], remainder='passthrough')
X = np.array(ct.fit_transform(X))
print(X)

[[1.0 0.0 0.0 ... 1 1 101348.88]
 [0.0 0.0 1.0 ... 0 1 112542.58]
 [1.0 0.0 0.0 ... 1 0 113931.57]
 ...
 [1.0 0.0 0.0 ... 0 1 42085.58]
 [0.0 1.0 0.0 ... 1 0 92888.52]
 [1.0 0.0 0.0 ... 1 0 38190.78]]

# Dividindo o dataset em conjunto de treinamento e conjunto de teste

In [61]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

# Feature Scaling

In [62]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [63]:
np.shape(X_train)

(8000, 12)

In [64]:
X_train

array([[-1.01460667, -0.5698444 ,  1.74309049, ...,  0.64259497,
        -1.03227043,  1.10643166],
       [-1.01460667,  1.75486502, -0.57369368, ...,  0.64259497,
         0.9687384 , -0.74866447],
       [ 0.98560362, -0.5698444 , -0.57369368, ...,  0.64259497,
        -1.03227043,  1.48533467],
       ...,
       [ 0.98560362, -0.5698444 , -0.57369368, ...,  0.64259497,
        -1.03227043,  1.41231994],
       [-1.01460667, -0.5698444 ,  1.74309049, ...,  0.64259497,
         0.9687384 ,  0.84432121],
       [-1.01460667,  1.75486502, -0.57369368, ...,  0.64259497,
        -1.03227043,  0.32472465]])

---
# Parte 2 -Vamos construir uma ANN!

### Initializing the ANN

In [65]:
ann = tf.keras.models.Sequential()

### Adding the input layer and the first hidden layer

In [66]:
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

### Adding the second hidden layer

In [67]:
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

### Adding the output layer

In [68]:
ann.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

### Compiling the ANN

In [69]:
ann.compile(optimizer = 'rmsprop', loss = 'binary_crossentropy', metrics = ['accuracy'])

## Part 3 - Training the ANN

### Training the ANN on the Training set

In [70]:
ann.fit(X_train, y_train, batch_size = 32, epochs = 100)

Epoch 1/100
250/250 [==============================] - 0s 837us/step - loss: 0.5642 - accuracy: 0.7941
Epoch 2/100
250/250 [==============================] - 0s 840us/step - loss: 0.5107 - accuracy: 0.7960
Epoch 3/100
250/250 [==============================] - 0s 745us/step - loss: 0.4832 - accuracy: 0.7960
Epoch 4/100
250/250 [==============================] - 0s 698us/step - loss: 0.4582 - accuracy: 0.7960
Epoch 5/100
250/250 [==============================] - 0s 840us/step - loss: 0.4396 - accuracy: 0.7959
Epoch 6/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4278 - accuracy: 0.7962
Epoch 7/100
250/250 [==============================] - 0s 907us/step - loss: 0.4198 - accuracy: 0.8192
Epoch 8/100
250/250 [==============================] - 0s 694us/step - loss: 0.4135 - accuracy: 0.8220
Epoch 9/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4082 - accuracy: 0.8314
Epoch 10/100
250/250 [==============================] - 0s 709us/step - loss: 0.4035 - accuracy: 0.8346
Epoch 11/100
250/250 [==============================] - 0s 755us/step - loss: 0.3994 - accuracy: 0.8360
Epoch 12/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3957 - accuracy: 0.8382
Epoch 13/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3924 - accuracy: 0.8382
Epoch 14/100
250/250 [==============================] - 0s 804us/step - loss: 0.3889 - accuracy: 0.8399
Epoch 15/100
250/250 [==============================] - 0s 734us/step - loss: 0.3850 - accuracy: 0.8411
Epoch 16/100
250/250 [==============================] - 0s 747us/step - loss: 0.3817 - accuracy: 0.8428
Epoch 17/100
250/250 [==============================] - 0s 718us/step - loss: 0.3783 - accuracy: 0.8438
Epoch 18/100
250/250 [==============================] - 0s 702us/step - loss: 0.3748 - accuracy: 0.8453
Epoch 19/100
250/250 [==============================] - 0s 695us/step - loss: 0.3712 - accuracy: 0.8470
Epoch 20/100
250/250 [==============================] - 0s 780us/step - loss: 0.3671 - accuracy: 0.8484
Epoch 21/100
250/250 [==============================] - 0s 716us/step - loss: 0.3638 - accuracy: 0.8509
Epoch 22/100
250/250 [==============================] - 0s 731us/step - loss: 0.3610 - accuracy: 0.8509
Epoch 23/100
250/250 [==============================] - 0s 700us/step - loss: 0.3590 - accuracy: 0.8522
Epoch 24/100
250/250 [==============================] - 0s 708us/step - loss: 0.3570 - accuracy: 0.8528
Epoch 25/100
250/250 [==============================] - 0s 714us/step - loss: 0.3553 - accuracy: 0.8551
Epoch 26/100
250/250 [==============================] - 0s 697us/step - loss: 0.3540 - accuracy: 0.8562
Epoch 27/100
250/250 [==============================] - 0s 737us/step - loss: 0.3529 - accuracy: 0.8561
Epoch 28/100
250/250 [==============================] - 0s 687us/step - loss: 0.3518 - accuracy: 0.8577
Epoch 29/100
250/250 [==============================] - 0s 936us/step - loss: 0.3511 - accuracy: 0.8572
Epoch 30/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3503 - accuracy: 0.8575
Epoch 31/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3497 - accuracy: 0.8585
Epoch 32/100
250/250 [==============================] - 0s 907us/step - loss: 0.3489 - accuracy: 0.8591
Epoch 33/100
250/250 [==============================] - 0s 725us/step - loss: 0.3484 - accuracy: 0.8559
Epoch 34/100
250/250 [==============================] - 0s 690us/step - loss: 0.3478 - accuracy: 0.8576
Epoch 35/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3472 - accuracy: 0.8574
Epoch 36/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3467 - accuracy: 0.8580
Epoch 37/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3462 - accuracy: 0.8587
Epoch 38/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3457 - accuracy: 0.8577
Epoch 39/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3452 - accuracy: 0.8587
Epoch 40/100
250/250 [==============================] - 0s 710us/step - loss: 0.3452 - accuracy: 0.8583
Epoch 41/100
250/250 [==============================] - 0s 709us/step - loss: 0.3444 - accuracy: 0.8600
Epoch 42/100
250/250 [==============================] - 0s 699us/step - loss: 0.3443 - accuracy: 0.8599
Epoch 43/100
250/250 [==============================] - 0s 758us/step - loss: 0.3441 - accuracy: 0.8606
Epoch 44/100
250/250 [==============================] - 0s 722us/step - loss: 0.3438 - accuracy: 0.8589
Epoch 45/100
250/250 [==============================] - 0s 687us/step - loss: 0.3439 - accuracy: 0.8604
Epoch 46/100
250/250 [==============================] - 0s 684us/step - loss: 0.3431 - accuracy: 0.8609
Epoch 47/100
250/250 [==============================] - 0s 707us/step - loss: 0.3430 - accuracy: 0.8585
Epoch 48/100
250/250 [==============================] - 0s 686us/step - loss: 0.3428 - accuracy: 0.8616
Epoch 49/100
250/250 [==============================] - 0s 665us/step - loss: 0.3420 - accuracy: 0.8625
Epoch 50/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3423 - accuracy: 0.8594
Epoch 51/100
250/250 [==============================] - 0s 981us/step - loss: 0.3416 - accuracy: 0.8600
Epoch 52/100
250/250 [==============================] - 0s 981us/step - loss: 0.3414 - accuracy: 0.8618
Epoch 53/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3413 - accuracy: 0.8602
Epoch 54/100
250/250 [==============================] - 0s 779us/step - loss: 0.3408 - accuracy: 0.8604
Epoch 55/100
250/250 [==============================] - 0s 953us/step - loss: 0.3411 - accuracy: 0.8599
Epoch 56/100
250/250 [==============================] - 0s 669us/step - loss: 0.3405 - accuracy: 0.8601
Epoch 57/100
250/250 [==============================] - 0s 689us/step - loss: 0.3402 - accuracy: 0.8637
Epoch 58/100
250/250 [==============================] - 0s 693us/step - loss: 0.3401 - accuracy: 0.8612
Epoch 59/100
250/250 [==============================] - 0s 718us/step - loss: 0.3397 - accuracy: 0.8608
Epoch 60/100
250/250 [==============================] - 0s 671us/step - loss: 0.3396 - accuracy: 0.8621
Epoch 61/100
250/250 [==============================] - 0s 727us/step - loss: 0.3395 - accuracy: 0.8633
Epoch 62/100
250/250 [==============================] - 0s 986us/step - loss: 0.3393 - accuracy: 0.8631
Epoch 63/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3395 - accuracy: 0.8600
Epoch 64/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3394 - accuracy: 0.8604
Epoch 65/100
250/250 [==============================] - 0s 983us/step - loss: 0.3392 - accuracy: 0.8631
Epoch 66/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3388 - accuracy: 0.8618
Epoch 67/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3390 - accuracy: 0.8606
Epoch 68/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3391 - accuracy: 0.8625
Epoch 69/100
250/250 [==============================] - 0s 883us/step - loss: 0.3387 - accuracy: 0.8620
Epoch 70/100
250/250 [==============================] - 0s 772us/step - loss: 0.3384 - accuracy: 0.8622
Epoch 71/100
250/250 [==============================] - 0s 998us/step - loss: 0.3386 - accuracy: 0.8621
Epoch 72/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3384 - accuracy: 0.8614
Epoch 73/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3384 - accuracy: 0.8611
Epoch 74/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3385 - accuracy: 0.8622
Epoch 75/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3379 - accuracy: 0.8612
Epoch 76/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3381 - accuracy: 0.8612
Epoch 77/100
250/250 [==============================] - 0s 903us/step - loss: 0.3381 - accuracy: 0.8618
Epoch 78/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3377 - accuracy: 0.8624
Epoch 79/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3378 - accuracy: 0.8635
Epoch 80/100

250/250 [==============================] - 0s 970us/step - loss: 0.3378 - accuracy: 0.8629
Epoch 81/100
250/250 [==============================] - 0s 902us/step - loss: 0.3376 - accuracy: 0.8621
Epoch 82/100
250/250 [==============================] - 0s 972us/step - loss: 0.3371 - accuracy: 0.8625
Epoch 83/100
250/250 [==============================] - 0s 953us/step - loss: 0.3374 - accuracy: 0.8614
Epoch 84/100
250/250 [==============================] - 0s 834us/step - loss: 0.3378 - accuracy: 0.8646
Epoch 85/100
250/250 [==============================] - 0s 846us/step - loss: 0.3373 - accuracy: 0.8615
Epoch 86/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3369 - accuracy: 0.8639
Epoch 87/100
250/250 [==============================] - 0s 649us/step - loss: 0.3374 - accuracy: 0.8626
Epoch 88/100
250/250 [==============================] - 0s 714us/step - loss: 0.3376 - accuracy: 0.8626
Epoch 89/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3371 - accuracy: 0.8621
Epoch 90/100
250/250 [==============================] - 0s 701us/step - loss: 0.3372 - accuracy: 0.8645
Epoch 91/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3370 - accuracy: 0.8627
Epoch 92/100
250/250 [==============================] - 0s 729us/step - loss: 0.3367 - accuracy: 0.8635
Epoch 93/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3366 - accuracy: 0.8637
Epoch 94/100
250/250 [==============================] - 0s 891us/step - loss: 0.3372 - accuracy: 0.8635
Epoch 95/100
250/250 [==============================] - 0s 689us/step - loss: 0.3371 - accuracy: 0.8612
Epoch 96/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3367 - accuracy: 0.8640
Epoch 97/100
250/250 [==============================] - 0s 959us/step - loss: 0.3370 - accuracy: 0.8625
Epoch 98/100
250/250 [==============================] - 0s 984us/step - loss: 0.3369 - accuracy: 0.8630
Epoch 99/100
250/250 [==============================] - 0s 763us/step - loss: 0.3364 - accuracy: 0.8650
Epoch 100/100
250/250 [==============================] - 0s 902us/step - loss: 0.3365 - accuracy: 0.8618

# Parte 3 - Fazendo predições e avaliando o modelo

## Prevendo os resultados com o conjunto de testes

In [71]:
y_pred = ann.predict(X_test)
y_pred

array([[0.2274347 ],
       [0.32720995],
       [0.25204915],
       ...,
       [0.13653478],
       [0.2045961 ],
       [0.25795656]], dtype=float32)

In [72]:
y_pred = (y_pred > 0.5)
y_pred

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

# Criando uma Confusion Matrix

In [73]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
print(cm)

[[1495  100]
 [ 184  221]]

# FIM

> Professor Diego Dorgam  
> [@diegodorgam](https://twitter.com/diegodorgam)