# REDES NEURAIS ARTIFICIAIS

[Aula 3 de Deep Learning](http://bit.ly/dn-unb03) da Engenharia de Software da UnB

# Parte 1 - Pré-processamento dos Dados

### Importar as libs

In [4]:
import numpy as np
import pandas as pd
import tensorflow as tf

In [5]:
tf.__version__

'2.6.0'

### Importar o dataset

In [6]:
dataset = pd.read_csv('Churn_Modelling.csv')
dataset.head(50)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
5,6,15574012,Chu,645,Spain,Male,44,8,113755.78,2,1,0,149756.71,1
6,7,15592531,Bartlett,822,France,Male,50,7,0.00,2,1,1,10062.80,0
7,8,15656148,Obinna,376,Germany,Female,29,4,115046.74,4,1,0,119346.88,1
8,9,15792365,He,501,France,Male,44,4,142051.07,2,0,1,74940.50,0
9,10,15592389,H?,684,France,Male,27,2,134603.88,1,1,1,71725.73,0
10,11,15767821,Bearce,528,France,Male,31,6,102016.72,2,0,0,80181.12,0
11,12,15737173,Andrews,497,Spain,Male,24,3,0.00,2,1,0,76390.01,0
12,13,15632264,Kay,476,France,Female,34,10,0.00,2,1,0,26260.98,0
13,14,15691483,Chin,549,France,Female,25,5,0.00,2,0,0,190857.79,0
14,15,15600882,Scott,635,Spain,Female,35,7,0.00,2,1,1,65951.65,0
15,16,15643966,Goforth,616,Germany,Male,45,3,143129.41,2,0,1,64327.26,0
16,17,15737452,Romeo,653,Germany,Male,58,1,132602.88,1,1,0,5097.67,1
17,18,15788218,Henderson,549,Spain,Female,24,9,0.00,2,1,1,14406.41,0
18,19,15661507,Muldrow,587,Spain,Male,45,6,0.00,1,0,0,158684.81,0
19,20,15568982,Hao,726,France,Female,24,6,0.00,2,1,1,54724.03,0
20,21,15577657,McDonald,732,France,Male,41,8,0.00,2,1,1,170886.17,0
21,22,15597945,Dellucci,636,Spain,Female,32,8,0.00,2,1,0,138555.46,0
22,23,15699309,Gerasimov,510,Spain,Female,38,4,0.00,1,1,0,118913.53,1
23,24,15725737,Mosman,669,France,Male,46,3,0.00,2,0,1,8487.75,0
24,25,15625047,Yen,846,France,Female,38,5,0.00,1,1,1,187616.16,0
25,26,15738191,Maclean,577,France,Male,25,3,0.00,2,0,1,124508.29,0
26,27,15736816,Young,756,Germany,Male,36,2,136815.64,1,1,1,170041.95,0
27,28,15700772,Nebechi,571,France,Male,44,9,0.00,2,0,0,38433.35,0
28,29,15728693,McWilliams,574,Germany,Female,43,3,141349.43,1,1,1,100187.43,0
29,30,15656300,Lucciano,411,France,Male,29,0,59697.17,2,1,1,53483.21,0
30,31,15589475,Azikiwe,591,Spain,Female,39,3,0.00,3,1,0,140469.38,1
31,32,15706552,Odinakachukwu,533,France,Male,36,7,85311.70,1,0,1,156731.91,0
32,33,15750181,Sanderson,553,Germany,Male,41,9,110112.54,2,0,0,81898.81,0
33,34,15659428,Maggard,520,Spain,Female,42,6,0.00,2,1,1,34410.55,0
34,35,15732963,Clements,722,Spain,Female,29,9,0.00,2,1,1,142033.07,0
35,36,15794171,Lombardo,475,France,Female,45,0,134264.04,1,1,0,27822.99,1
36,37,15788448,Watson,490,Spain,Male,31,3,145260.23,1,0,1,114066.77,0
37,38,15729599,Lorenzo,804,Spain,Male,33,7,76548.60,1,0,1,98453.45,0
38,39,15717426,Armstrong,850,France,Male,36,7,0.00,1,1,1,40812.90,0
39,40,15585768,Cameron,582,Germany,Male,41,6,70349.48,2,0,1,178074.04,0
40,41,15619360,Hsiao,472,Spain,Male,40,4,0.00,1,1,0,70154.22,0
41,42,15738148,Clarke,465,France,Female,51,8,122522.32,1,0,0,181297.65,1
42,43,15687946,Osborne,556,France,Female,61,2,117419.35,1,1,1,94153.83,0
43,44,15755196,Lavine,834,France,Female,49,2,131394.56,1,0,0,194365.76,1
44,45,15684171,Bianchi,660,Spain,Female,61,5,155931.11,1,1,1,158338.39,0
45,46,15754849,Tyler,776,Germany,Female,32,4,109421.13,2,1,1,126517.46,0
46,47,15602280,Martin,829,Germany,Female,27,9,112045.67,1,1,1,119708.21,1
47,48,15771573,Okagbue,637,Germany,Female,39,9,137843.80,1,1,1,117622.80,1
48,49,15766205,Yin,550,Germany,Male,38,2,103391.38,1,0,1,90878.13,0
49,50,15771873,Buccho,776,Germany,Female,37,2,103769.22,2,1,0,194099.12,0

In [7]:
dataset.Geography.value_counts()

France     5014
Germany    2509
Spain      2477
Name: Geography, dtype: int64

In [8]:
X = dataset.iloc[:, 3:13].values
y = dataset.iloc[:, 13].values
print("X >>\n",X)
print("y >>\n",y)

X >>
 [[619 'France' 'Female' ... 1 1 101348.88]
 [608 'Spain' 'Female' ... 0 1 112542.58]
 [502 'France' 'Female' ... 1 0 113931.57]
 ...
 [709 'France' 'Female' ... 0 1 42085.58]
 [772 'Germany' 'Male' ... 1 0 92888.52]
 [792 'France' 'Female' ... 1 0 38190.78]]
y >>
 [1 0 1 ... 1 1 0]

### Transformando os dados categóricos

In [9]:
# Label Encoding the "Gender" column
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X[:, 2] = le.fit_transform(X[:, 2])
print(X[:, 2])

[0 0 0 ... 0 1 0]

In [10]:
# One Hot Encoding the "Geography" column
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1])], remainder='passthrough')
X = np.array(ct.fit_transform(X))
print(X)

[[1.0 0.0 0.0 ... 1 1 101348.88]
 [0.0 0.0 1.0 ... 0 1 112542.58]
 [1.0 0.0 0.0 ... 1 0 113931.57]
 ...
 [1.0 0.0 0.0 ... 0 1 42085.58]
 [0.0 1.0 0.0 ... 1 0 92888.52]
 [1.0 0.0 0.0 ... 1 0 38190.78]]

# Dividindo o dataset em conjunto de treinamento e conjunto de teste

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

# Feature Scaling

In [12]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [13]:
np.shape(X_train)

(8000, 12)

In [14]:
X_train

array([[-1.01460667, -0.5698444 ,  1.74309049, ...,  0.64259497,
        -1.03227043,  1.10643166],
       [-1.01460667,  1.75486502, -0.57369368, ...,  0.64259497,
         0.9687384 , -0.74866447],
       [ 0.98560362, -0.5698444 , -0.57369368, ...,  0.64259497,
        -1.03227043,  1.48533467],
       ...,
       [ 0.98560362, -0.5698444 , -0.57369368, ...,  0.64259497,
        -1.03227043,  1.41231994],
       [-1.01460667, -0.5698444 ,  1.74309049, ...,  0.64259497,
         0.9687384 ,  0.84432121],
       [-1.01460667,  1.75486502, -0.57369368, ...,  0.64259497,
        -1.03227043,  0.32472465]])

---
# Parte 2 -Vamos construir uma ANN!

### Initializing the ANN

In [15]:
tf.random.set_seed(0) #Define que os casos de teste e os casos para praticar serão sempre iguais

In [16]:
ann = tf.keras.models.Sequential()

### Adding the input layer and the first hidden layer

In [17]:
ann.add(tf.keras.layers.Dense(units=6, activation='tanh'))

### Adding the second hidden layer

In [18]:
ann.add(tf.keras.layers.Dense(units=6, activation='tanh'))

### Adding the output layer

In [19]:
ann.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

### Compiling the ANN

In [20]:
ann.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

## Part 3 - Training the ANN

### Training the ANN on the Training set

In [21]:
ann.fit(X_train, y_train, batch_size = 32, epochs = 100)

Epoch 1/100
250/250 [==============================] - 1s 878us/step - loss: 0.6061 - accuracy: 0.6874
Epoch 2/100
250/250 [==============================] - 0s 804us/step - loss: 0.4607 - accuracy: 0.8046
Epoch 3/100
250/250 [==============================] - 0s 854us/step - loss: 0.4288 - accuracy: 0.8116
Epoch 4/100
250/250 [==============================] - 0s 819us/step - loss: 0.4199 - accuracy: 0.8165
Epoch 5/100
250/250 [==============================] - 0s 815us/step - loss: 0.4136 - accuracy: 0.8223
Epoch 6/100
250/250 [==============================] - 0s 803us/step - loss: 0.4076 - accuracy: 0.8250
Epoch 7/100
250/250 [==============================] - 0s 835us/step - loss: 0.4009 - accuracy: 0.8296
Epoch 8/100
250/250 [==============================] - 0s 920us/step - loss: 0.3939 - accuracy: 0.8319
Epoch 9/100
250/250 [==============================] - 0s 839us/step - loss: 0.3869 - accuracy: 0.8355
Epoch 10/100
250/250 [==============================] - 0s 803us/step - loss: 0.3803 - accuracy: 0.8370
Epoch 11/100
250/250 [==============================] - 0s 867us/step - loss: 0.3738 - accuracy: 0.8411
Epoch 12/100
250/250 [==============================] - 0s 787us/step - loss: 0.3680 - accuracy: 0.8451
Epoch 13/100
250/250 [==============================] - 0s 843us/step - loss: 0.3624 - accuracy: 0.8490
Epoch 14/100
250/250 [==============================] - 0s 867us/step - loss: 0.3572 - accuracy: 0.8495
Epoch 15/100
250/250 [==============================] - 0s 892us/step - loss: 0.3533 - accuracy: 0.8528
Epoch 16/100
250/250 [==============================] - 0s 799us/step - loss: 0.3498 - accuracy: 0.8549
Epoch 17/100
250/250 [==============================] - 0s 847us/step - loss: 0.3469 - accuracy: 0.8558
Epoch 18/100
250/250 [==============================] - 0s 940us/step - loss: 0.3447 - accuracy: 0.8597
Epoch 19/100
250/250 [==============================] - 0s 791us/step - loss: 0.3430 - accuracy: 0.8593
Epoch 20/100
250/250 [==============================] - 0s 787us/step - loss: 0.3416 - accuracy: 0.8595
Epoch 21/100
250/250 [==============================] - 0s 815us/step - loss: 0.3401 - accuracy: 0.8585
Epoch 22/100
250/250 [==============================] - 0s 799us/step - loss: 0.3398 - accuracy: 0.8600
Epoch 23/100
250/250 [==============================] - 0s 799us/step - loss: 0.3385 - accuracy: 0.8602
Epoch 24/100
250/250 [==============================] - 0s 799us/step - loss: 0.3379 - accuracy: 0.8589
Epoch 25/100
250/250 [==============================] - 0s 831us/step - loss: 0.3374 - accuracy: 0.8606
Epoch 26/100
250/250 [==============================] - 0s 831us/step - loss: 0.3369 - accuracy: 0.8610
Epoch 27/100
250/250 [==============================] - 0s 904us/step - loss: 0.3363 - accuracy: 0.8601
Epoch 28/100
250/250 [==============================] - 0s 775us/step - loss: 0.3362 - accuracy: 0.8612
Epoch 29/100
250/250 [==============================] - 0s 928us/step - loss: 0.3357 - accuracy: 0.8600
Epoch 30/100
250/250 [==============================] - 0s 944us/step - loss: 0.3354 - accuracy: 0.8609
Epoch 31/100
250/250 [==============================] - 0s 791us/step - loss: 0.3348 - accuracy: 0.8591
Epoch 32/100
250/250 [==============================] - 0s 892us/step - loss: 0.3344 - accuracy: 0.8604
Epoch 33/100
250/250 [==============================] - 0s 815us/step - loss: 0.3347 - accuracy: 0.8609
Epoch 34/100
250/250 [==============================] - 0s 980us/step - loss: 0.3346 - accuracy: 0.8611
Epoch 35/100
250/250 [==============================] - 0s 763us/step - loss: 0.3341 - accuracy: 0.8618
Epoch 36/100
250/250 [==============================] - 0s 759us/step - loss: 0.3339 - accuracy: 0.8609
Epoch 37/100
250/250 [==============================] - 0s 755us/step - loss: 0.3336 - accuracy: 0.8629
Epoch 38/100
250/250 [==============================] - 0s 795us/step - loss: 0.3335 - accuracy: 0.8614
Epoch 39/100
250/250 [==============================] - 0s 763us/step - loss: 0.3335 - accuracy: 0.8597
Epoch 40/100
250/250 [==============================] - 0s 896us/step - loss: 0.3333 - accuracy: 0.8605
Epoch 41/100
250/250 [==============================] - 0s 759us/step - loss: 0.3328 - accuracy: 0.8611
Epoch 42/100
250/250 [==============================] - 0s 912us/step - loss: 0.3329 - accuracy: 0.8611
Epoch 43/100
250/250 [==============================] - 0s 875us/step - loss: 0.3329 - accuracy: 0.8634
Epoch 44/100
250/250 [==============================] - 0s 912us/step - loss: 0.3324 - accuracy: 0.8614
Epoch 45/100
250/250 [==============================] - 0s 920us/step - loss: 0.3323 - accuracy: 0.8629
Epoch 46/100
250/250 [==============================] - 0s 868us/step - loss: 0.3324 - accuracy: 0.8612
Epoch 47/100
250/250 [==============================] - 0s 815us/step - loss: 0.3323 - accuracy: 0.8616
Epoch 48/100
250/250 [==============================] - 0s 884us/step - loss: 0.3323 - accuracy: 0.8616
Epoch 49/100
250/250 [==============================] - 0s 952us/step - loss: 0.3322 - accuracy: 0.8618
Epoch 50/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3321 - accuracy: 0.8636
Epoch 51/100
250/250 [==============================] - 0s 896us/step - loss: 0.3317 - accuracy: 0.8621
Epoch 52/100
250/250 [==============================] - 0s 851us/step - loss: 0.3317 - accuracy: 0.8634
Epoch 53/100
250/250 [==============================] - 0s 843us/step - loss: 0.3316 - accuracy: 0.8627
Epoch 54/100
250/250 [==============================] - 0s 859us/step - loss: 0.3314 - accuracy: 0.8629
Epoch 55/100
250/250 [==============================] - 0s 867us/step - loss: 0.3314 - accuracy: 0.8636
Epoch 56/100
250/250 [==============================] - 0s 843us/step - loss: 0.3314 - accuracy: 0.8610
Epoch 57/100
250/250 [==============================] - 0s 839us/step - loss: 0.3311 - accuracy: 0.8619
Epoch 58/100
250/250 [==============================] - 0s 843us/step - loss: 0.3315 - accuracy: 0.8609
Epoch 59/100
250/250 [==============================] - 0s 871us/step - loss: 0.3314 - accuracy: 0.8630
Epoch 60/100
250/250 [==============================] - 0s 851us/step - loss: 0.3309 - accuracy: 0.8636
Epoch 61/100
250/250 [==============================] - 0s 843us/step - loss: 0.3314 - accuracy: 0.8612
Epoch 62/100
250/250 [==============================] - 0s 827us/step - loss: 0.3307 - accuracy: 0.8620
Epoch 63/100
250/250 [==============================] - 0s 880us/step - loss: 0.3310 - accuracy: 0.8624
Epoch 64/100
250/250 [==============================] - 0s 871us/step - loss: 0.3305 - accuracy: 0.8616
Epoch 65/100
250/250 [==============================] - 0s 867us/step - loss: 0.3308 - accuracy: 0.8627
Epoch 66/100
250/250 [==============================] - 0s 863us/step - loss: 0.3305 - accuracy: 0.8624
Epoch 67/100
250/250 [==============================] - 0s 859us/step - loss: 0.3303 - accuracy: 0.8630
Epoch 68/100
250/250 [==============================] - 0s 851us/step - loss: 0.3304 - accuracy: 0.8630
Epoch 69/100
250/250 [==============================] - 0s 823us/step - loss: 0.3303 - accuracy: 0.8630
Epoch 70/100
250/250 [==============================] - 0s 876us/step - loss: 0.3302 - accuracy: 0.8636
Epoch 71/100
250/250 [==============================] - 0s 871us/step - loss: 0.3303 - accuracy: 0.8616
Epoch 72/100
250/250 [==============================] - 0s 855us/step - loss: 0.3304 - accuracy: 0.8627
Epoch 73/100
250/250 [==============================] - 0s 835us/step - loss: 0.3305 - accuracy: 0.8631
Epoch 74/100
250/250 [==============================] - 0s 827us/step - loss: 0.3301 - accuracy: 0.8637
Epoch 75/100
250/250 [==============================] - 0s 819us/step - loss: 0.3298 - accuracy: 0.8640
Epoch 76/100
250/250 [==============================] - 0s 855us/step - loss: 0.3301 - accuracy: 0.8633
Epoch 77/100
250/250 [==============================] - 0s 843us/step - loss: 0.3299 - accuracy: 0.8652
Epoch 78/100
250/250 [==============================] - 0s 871us/step - loss: 0.3300 - accuracy: 0.8626
Epoch 79/100
250/250 [==============================] - 0s 847us/step - loss: 0.3297 - accuracy: 0.8641
Epoch 80/100
250/250 [==============================] - 0s 855us/step - loss: 0.3298 - accuracy: 0.8631
Epoch 81/100
250/250 [==============================] - 0s 855us/step - loss: 0.3294 - accuracy: 0.8648
Epoch 82/100
250/250 [==============================] - 0s 875us/step - loss: 0.3298 - accuracy: 0.8630
Epoch 83/100
250/250 [==============================] - 0s 847us/step - loss: 0.3295 - accuracy: 0.8648
Epoch 84/100
250/250 [==============================] - 0s 843us/step - loss: 0.3294 - accuracy: 0.8640
Epoch 85/100
250/250 [==============================] - 0s 880us/step - loss: 0.3295 - accuracy: 0.8648
Epoch 86/100
250/250 [==============================] - 0s 863us/step - loss: 0.3296 - accuracy: 0.8644
Epoch 87/100
250/250 [==============================] - 0s 863us/step - loss: 0.3291 - accuracy: 0.8640
Epoch 88/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3291 - accuracy: 0.8651
Epoch 89/100
250/250 [==============================] - 0s 867us/step - loss: 0.3288 - accuracy: 0.8655
Epoch 90/100
250/250 [==============================] - 0s 851us/step - loss: 0.3295 - accuracy: 0.8649
Epoch 91/100
250/250 [==============================] - 0s 851us/step - loss: 0.3291 - accuracy: 0.8627
Epoch 92/100
250/250 [==============================] - 0s 859us/step - loss: 0.3303 - accuracy: 0.8633
Epoch 93/100
250/250 [==============================] - 0s 851us/step - loss: 0.3288 - accuracy: 0.8649
Epoch 94/100
250/250 [==============================] - 0s 884us/step - loss: 0.3287 - accuracy: 0.8668
Epoch 95/100
250/250 [==============================] - 0s 896us/step - loss: 0.3290 - accuracy: 0.8649
Epoch 96/100
250/250 [==============================] - 0s 908us/step - loss: 0.3290 - accuracy: 0.8648
Epoch 97/100
250/250 [==============================] - 0s 876us/step - loss: 0.3289 - accuracy: 0.8635
Epoch 98/100
250/250 [==============================] - 0s 896us/step - loss: 0.3289 - accuracy: 0.8645
Epoch 99/100
250/250 [==============================] - 0s 880us/step - loss: 0.3289 - accuracy: 0.8644
Epoch 100/100
250/250 [==============================] - 0s 916us/step - loss: 0.3290 - accuracy: 0.8640

# Parte 3 - Fazendo predições e avaliando o modelo

## Prevendo os resultados com o conjunto de testes

In [22]:
y_pred = ann.predict(X_test)
y_pred

array([[0.28365082],
       [0.16923717],
       [0.10380057],
       ...,
       [0.11263412],
       [0.174887  ],
       [0.24651918]], dtype=float32)

In [23]:
y_pred = (y_pred > 0.5)
y_pred

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

# Criando uma Confusion Matrix

In [24]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
print(cm)

[[1527   68]
 [ 202  203]]

In [25]:
#cm[0, 0]: Previsão correta op1
#cm[0, 1]: Previsão incorreta op1
#cm[1, 0]: Previsão incorreta op2
#cm[1, 1]: Previsão correta op2

# Funções de ativação experimentadas: relu, softmax, tanh

#Acurácia das combinações
# relu + relu: 0,86
# relu + softmax: 0,8585
# relu + tanh: 0,8605

# softmax + relu: 0,8635
# softmax + softmax: 0,8575
# softmax + tanh: 0,859

# tanh + relu: 0,8605
# tanh + softmax: 0,8605
# tanh + tanh: 0,865

from sklearn.metrics import (accuracy_score)
accuracy_score(y_test, y_pred)

0.865

# FIM

> Professor Diego Dorgam  
> [@diegodorgam](https://twitter.com/diegodorgam)

Modificado por
> Álvaro Leles Guimarães