# REDES NEURAIS ARTIFICIAIS

[Aula 3 de Deep Learning](http://bit.ly/dn-unb03) da Engenharia de Software da UnB

# Parte 1 - Pré-processamento dos Dados

### Importar as libs

In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf

2021-09-16 16:27:39.772340: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2021-09-16 16:27:39.772384: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.

In [2]:
tf.__version__

'2.6.0'

### Importar o dataset

In [3]:
dataset = pd.read_csv('Churn_Modelling.csv')
dataset.head(50)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
5,6,15574012,Chu,645,Spain,Male,44,8,113755.78,2,1,0,149756.71,1
6,7,15592531,Bartlett,822,France,Male,50,7,0.00,2,1,1,10062.80,0
7,8,15656148,Obinna,376,Germany,Female,29,4,115046.74,4,1,0,119346.88,1
8,9,15792365,He,501,France,Male,44,4,142051.07,2,0,1,74940.50,0
9,10,15592389,H?,684,France,Male,27,2,134603.88,1,1,1,71725.73,0
10,11,15767821,Bearce,528,France,Male,31,6,102016.72,2,0,0,80181.12,0
11,12,15737173,Andrews,497,Spain,Male,24,3,0.00,2,1,0,76390.01,0
12,13,15632264,Kay,476,France,Female,34,10,0.00,2,1,0,26260.98,0
13,14,15691483,Chin,549,France,Female,25,5,0.00,2,0,0,190857.79,0
14,15,15600882,Scott,635,Spain,Female,35,7,0.00,2,1,1,65951.65,0
15,16,15643966,Goforth,616,Germany,Male,45,3,143129.41,2,0,1,64327.26,0
16,17,15737452,Romeo,653,Germany,Male,58,1,132602.88,1,1,0,5097.67,1
17,18,15788218,Henderson,549,Spain,Female,24,9,0.00,2,1,1,14406.41,0
18,19,15661507,Muldrow,587,Spain,Male,45,6,0.00,1,0,0,158684.81,0
19,20,15568982,Hao,726,France,Female,24,6,0.00,2,1,1,54724.03,0
20,21,15577657,McDonald,732,France,Male,41,8,0.00,2,1,1,170886.17,0
21,22,15597945,Dellucci,636,Spain,Female,32,8,0.00,2,1,0,138555.46,0
22,23,15699309,Gerasimov,510,Spain,Female,38,4,0.00,1,1,0,118913.53,1
23,24,15725737,Mosman,669,France,Male,46,3,0.00,2,0,1,8487.75,0
24,25,15625047,Yen,846,France,Female,38,5,0.00,1,1,1,187616.16,0
25,26,15738191,Maclean,577,France,Male,25,3,0.00,2,0,1,124508.29,0
26,27,15736816,Young,756,Germany,Male,36,2,136815.64,1,1,1,170041.95,0
27,28,15700772,Nebechi,571,France,Male,44,9,0.00,2,0,0,38433.35,0
28,29,15728693,McWilliams,574,Germany,Female,43,3,141349.43,1,1,1,100187.43,0
29,30,15656300,Lucciano,411,France,Male,29,0,59697.17,2,1,1,53483.21,0
30,31,15589475,Azikiwe,591,Spain,Female,39,3,0.00,3,1,0,140469.38,1
31,32,15706552,Odinakachukwu,533,France,Male,36,7,85311.70,1,0,1,156731.91,0
32,33,15750181,Sanderson,553,Germany,Male,41,9,110112.54,2,0,0,81898.81,0
33,34,15659428,Maggard,520,Spain,Female,42,6,0.00,2,1,1,34410.55,0
34,35,15732963,Clements,722,Spain,Female,29,9,0.00,2,1,1,142033.07,0
35,36,15794171,Lombardo,475,France,Female,45,0,134264.04,1,1,0,27822.99,1
36,37,15788448,Watson,490,Spain,Male,31,3,145260.23,1,0,1,114066.77,0
37,38,15729599,Lorenzo,804,Spain,Male,33,7,76548.60,1,0,1,98453.45,0
38,39,15717426,Armstrong,850,France,Male,36,7,0.00,1,1,1,40812.90,0
39,40,15585768,Cameron,582,Germany,Male,41,6,70349.48,2,0,1,178074.04,0
40,41,15619360,Hsiao,472,Spain,Male,40,4,0.00,1,1,0,70154.22,0
41,42,15738148,Clarke,465,France,Female,51,8,122522.32,1,0,0,181297.65,1
42,43,15687946,Osborne,556,France,Female,61,2,117419.35,1,1,1,94153.83,0
43,44,15755196,Lavine,834,France,Female,49,2,131394.56,1,0,0,194365.76,1
44,45,15684171,Bianchi,660,Spain,Female,61,5,155931.11,1,1,1,158338.39,0
45,46,15754849,Tyler,776,Germany,Female,32,4,109421.13,2,1,1,126517.46,0
46,47,15602280,Martin,829,Germany,Female,27,9,112045.67,1,1,1,119708.21,1
47,48,15771573,Okagbue,637,Germany,Female,39,9,137843.80,1,1,1,117622.80,1
48,49,15766205,Yin,550,Germany,Male,38,2,103391.38,1,0,1,90878.13,0
49,50,15771873,Buccho,776,Germany,Female,37,2,103769.22,2,1,0,194099.12,0

In [4]:
dataset.Geography.value_counts()

France     5014
Germany    2509
Spain      2477
Name: Geography, dtype: int64

In [5]:
X = dataset.iloc[:, 3:13].values
y = dataset.iloc[:, 13].values
print("X >>\n",X)
print("y >>\n",y)

X >>
 [[619 'France' 'Female' ... 1 1 101348.88]
 [608 'Spain' 'Female' ... 0 1 112542.58]
 [502 'France' 'Female' ... 1 0 113931.57]
 ...
 [709 'France' 'Female' ... 0 1 42085.58]
 [772 'Germany' 'Male' ... 1 0 92888.52]
 [792 'France' 'Female' ... 1 0 38190.78]]
y >>
 [1 0 1 ... 1 1 0]

### Transformando os dados categóricos

In [6]:
# Label Encoding the "Gender" column
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X[:, 2] = le.fit_transform(X[:, 2])
print(X[:, 2])

[0 0 0 ... 0 1 0]

In [7]:
# One Hot Encoding the "Geography" column
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1])], remainder='passthrough')
X = np.array(ct.fit_transform(X))
print(X)

[[1.0 0.0 0.0 ... 1 1 101348.88]
 [0.0 0.0 1.0 ... 0 1 112542.58]
 [1.0 0.0 0.0 ... 1 0 113931.57]
 ...
 [1.0 0.0 0.0 ... 0 1 42085.58]
 [0.0 1.0 0.0 ... 1 0 92888.52]
 [1.0 0.0 0.0 ... 1 0 38190.78]]

# Dividindo o dataset em conjunto de treinamento e conjunto de teste

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

# Feature Scaling

In [9]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [10]:
np.shape(X_train)

(8000, 12)

In [11]:
X_train

array([[-1.01460667, -0.5698444 ,  1.74309049, ...,  0.64259497,
        -1.03227043,  1.10643166],
       [-1.01460667,  1.75486502, -0.57369368, ...,  0.64259497,
         0.9687384 , -0.74866447],
       [ 0.98560362, -0.5698444 , -0.57369368, ...,  0.64259497,
        -1.03227043,  1.48533467],
       ...,
       [ 0.98560362, -0.5698444 , -0.57369368, ...,  0.64259497,
        -1.03227043,  1.41231994],
       [-1.01460667, -0.5698444 ,  1.74309049, ...,  0.64259497,
         0.9687384 ,  0.84432121],
       [-1.01460667,  1.75486502, -0.57369368, ...,  0.64259497,
        -1.03227043,  0.32472465]])

---
# Parte 2 -Vamos construir uma ANN!

### Initializing the ANN

In [ ]:
ann = tf.keras.models.Sequential()

### Adding the input layer and the first hidden layer

In [13]:
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

### Adding the second hidden layer

In [14]:
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

In [15]:
#third layer
ann.add(tf.keras.layers.Dense(units=4, activation='relu'))

### Adding the output layer

In [16]:
ann.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

### Compiling the ANN

In [17]:
ann.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

## Part 3 - Training the ANN

### Training the ANN on the Training set

In [18]:
ann.fit(X_train, y_train, batch_size = 32, epochs = 120)

2021-09-16 16:27:50.723081: I tensorflow/compiler/mlir/mlir_graph_optimization_pass.cc:185] None of the MLIR Optimization Passes are enabled (registered 2)

Epoch 1/120
250/250 [==============================] - 1s 989us/step - loss: 0.5269 - accuracy: 0.7891
Epoch 2/120
250/250 [==============================] - 0s 998us/step - loss: 0.4406 - accuracy: 0.8019
Epoch 3/120
250/250 [==============================] - 0s 1ms/step - loss: 0.4155 - accuracy: 0.8175
Epoch 4/120
250/250 [==============================] - 0s 986us/step - loss: 0.3970 - accuracy: 0.8291
Epoch 5/120
250/250 [==============================] - 0s 963us/step - loss: 0.3803 - accuracy: 0.8361
Epoch 6/120
250/250 [==============================] - 0s 955us/step - loss: 0.3690 - accuracy: 0.8455
Epoch 7/120
250/250 [==============================] - 0s 953us/step - loss: 0.3622 - accuracy: 0.8476
Epoch 8/120
250/250 [==============================] - 0s 985us/step - loss: 0.3581 - accuracy: 0.8499
Epoch 9/120
250/250 [==============================] - 0s 922us/step - loss: 0.3553 - accuracy: 0.8528
Epoch 10/120
250/250 [==============================] - 0s 929us/step - loss: 0.3528 - accuracy: 0.8524
Epoch 11/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3505 - accuracy: 0.8530
Epoch 12/120
250/250 [==============================] - 0s 859us/step - loss: 0.3491 - accuracy: 0.8564
Epoch 13/120
250/250 [==============================] - 0s 892us/step - loss: 0.3475 - accuracy: 0.8565
Epoch 14/120
250/250 [==============================] - 0s 945us/step - loss: 0.3467 - accuracy: 0.8551
Epoch 15/120
250/250 [==============================] - 0s 924us/step - loss: 0.3464 - accuracy: 0.8574
Epoch 16/120
250/250 [==============================] - 0s 929us/step - loss: 0.3455 - accuracy: 0.8566
Epoch 17/120
250/250 [==============================] - 0s 961us/step - loss: 0.3449 - accuracy: 0.8585
Epoch 18/120
250/250 [==============================] - 0s 878us/step - loss: 0.3439 - accuracy: 0.8576
Epoch 19/120
250/250 [==============================] - 0s 890us/step - loss: 0.3431 - accuracy: 0.8586
Epoch 20/120
250/250 [==============================] - 0s 889us/step - loss: 0.3431 - accuracy: 0.8593
Epoch 21/120
250/250 [==============================] - 0s 871us/step - loss: 0.3423 - accuracy: 0.8586
Epoch 22/120
250/250 [==============================] - 0s 901us/step - loss: 0.3425 - accuracy: 0.8586
Epoch 23/120
250/250 [==============================] - 0s 878us/step - loss: 0.3418 - accuracy: 0.8590
Epoch 24/120
250/250 [==============================] - 0s 894us/step - loss: 0.3419 - accuracy: 0.8599
Epoch 25/120
250/250 [==============================] - 0s 899us/step - loss: 0.3412 - accuracy: 0.8596
Epoch 26/120
250/250 [==============================] - 0s 902us/step - loss: 0.3411 - accuracy: 0.8595
Epoch 27/120
250/250 [==============================] - 0s 981us/step - loss: 0.3403 - accuracy: 0.8581
Epoch 28/120
250/250 [==============================] - 0s 975us/step - loss: 0.3405 - accuracy: 0.8583
Epoch 29/120
250/250 [==============================] - 0s 994us/step - loss: 0.3406 - accuracy: 0.8585
Epoch 30/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3396 - accuracy: 0.8595
Epoch 31/120
250/250 [==============================] - 0s 894us/step - loss: 0.3398 - accuracy: 0.8574
Epoch 32/120
250/250 [==============================] - 0s 863us/step - loss: 0.3394 - accuracy: 0.8595
Epoch 33/120
250/250 [==============================] - 0s 855us/step - loss: 0.3389 - accuracy: 0.8596
Epoch 34/120
250/250 [==============================] - 0s 883us/step - loss: 0.3384 - accuracy: 0.8589
Epoch 35/120
250/250 [==============================] - 0s 882us/step - loss: 0.3388 - accuracy: 0.8587
Epoch 36/120
250/250 [==============================] - 0s 887us/step - loss: 0.3388 - accuracy: 0.8608
Epoch 37/120
250/250 [==============================] - 0s 876us/step - loss: 0.3394 - accuracy: 0.8591
Epoch 38/120
250/250 [==============================] - 0s 895us/step - loss: 0.3386 - accuracy: 0.8594
Epoch 39/120
250/250 [==============================] - 0s 889us/step - loss: 0.3386 - accuracy: 0.8587
Epoch 40/120
250/250 [==============================] - 0s 896us/step - loss: 0.3383 - accuracy: 0.8600
Epoch 41/120
250/250 [==============================] - 0s 858us/step - loss: 0.3381 - accuracy: 0.8585
Epoch 42/120
250/250 [==============================] - 0s 867us/step - loss: 0.3379 - accuracy: 0.8579
Epoch 43/120
250/250 [==============================] - 0s 865us/step - loss: 0.3376 - accuracy: 0.8606
Epoch 44/120
250/250 [==============================] - 0s 844us/step - loss: 0.3371 - accuracy: 0.8602
Epoch 45/120
250/250 [==============================] - 0s 879us/step - loss: 0.3375 - accuracy: 0.8606
Epoch 46/120
250/250 [==============================] - 0s 892us/step - loss: 0.3371 - accuracy: 0.8608
Epoch 47/120
250/250 [==============================] - 0s 892us/step - loss: 0.3372 - accuracy: 0.8591
Epoch 48/120
250/250 [==============================] - 0s 990us/step - loss: 0.3369 - accuracy: 0.8608
Epoch 49/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3366 - accuracy: 0.8594
Epoch 50/120
250/250 [==============================] - 0s 973us/step - loss: 0.3366 - accuracy: 0.8591
Epoch 51/120
250/250 [==============================] - 0s 926us/step - loss: 0.3366 - accuracy: 0.8601
Epoch 52/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3360 - accuracy: 0.8614
Epoch 53/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3366 - accuracy: 0.8614
Epoch 54/120
250/250 [==============================] - 0s 915us/step - loss: 0.3359 - accuracy: 0.8602
Epoch 55/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3354 - accuracy: 0.8620
Epoch 56/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3354 - accuracy: 0.8618
Epoch 57/120
250/250 [==============================] - 0s 995us/step - loss: 0.3356 - accuracy: 0.8619
Epoch 58/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3349 - accuracy: 0.8615
Epoch 59/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3343 - accuracy: 0.8609
Epoch 60/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3350 - accuracy: 0.8626
Epoch 61/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3346 - accuracy: 0.8626
Epoch 62/120
250/250 [==============================] - 0s 891us/step - loss: 0.3345 - accuracy: 0.8624
Epoch 63/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3342 - accuracy: 0.8618
Epoch 64/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3340 - accuracy: 0.8630
Epoch 65/120
250/250 [==============================] - 0s 895us/step - loss: 0.3341 - accuracy: 0.8629
Epoch 66/120
250/250 [==============================] - 0s 898us/step - loss: 0.3348 - accuracy: 0.8635
Epoch 67/120
250/250 [==============================] - 0s 995us/step - loss: 0.3339 - accuracy: 0.8629
Epoch 68/120
250/250 [==============================] - 0s 945us/step - loss: 0.3341 - accuracy: 0.8622
Epoch 69/120
250/250 [==============================] - 0s 900us/step - loss: 0.3337 - accuracy: 0.8634
Epoch 70/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3340 - accuracy: 0.8625
Epoch 71/120
250/250 [==============================] - 0s 990us/step - loss: 0.3341 - accuracy: 0.8625
Epoch 72/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3341 - accuracy: 0.8620
Epoch 73/120
250/250 [==============================] - 0s 979us/step - loss: 0.3340 - accuracy: 0.8618
Epoch 74/120
250/250 [==============================] - 0s 909us/step - loss: 0.3338 - accuracy: 0.8640
Epoch 75/120
250/250 [==============================] - 0s 889us/step - loss: 0.3335 - accuracy: 0.8620
Epoch 76/120
250/250 [==============================] - 0s 884us/step - loss: 0.3334 - accuracy: 0.8637
Epoch 77/120
250/250 [==============================] - 0s 896us/step - loss: 0.3337 - accuracy: 0.8622
Epoch 78/120
250/250 [==============================] - 0s 967us/step - loss: 0.3334 - accuracy: 0.8631
Epoch 79/120
250/250 [==============================] - 0s 894us/step - loss: 0.3338 - accuracy: 0.8645
Epoch 80/120
250/250 [==============================] - 0s 874us/step - loss: 0.3332 - accuracy: 0.8624
Epoch 81/120
250/250 [==============================] - 0s 859us/step - loss: 0.3338 - accuracy: 0.8618
Epoch 82/120
250/250 [==============================] - 0s 864us/step - loss: 0.3335 - accuracy: 0.8636
Epoch 83/120
250/250 [==============================] - 0s 844us/step - loss: 0.3333 - accuracy: 0.8641
Epoch 84/120
250/250 [==============================] - 0s 902us/step - loss: 0.3336 - accuracy: 0.8634
Epoch 85/120
250/250 [==============================] - 0s 891us/step - loss: 0.3338 - accuracy: 0.8645
Epoch 86/120
250/250 [==============================] - 0s 881us/step - loss: 0.3329 - accuracy: 0.8630
Epoch 87/120
250/250 [==============================] - 0s 854us/step - loss: 0.3334 - accuracy: 0.8640
Epoch 88/120
250/250 [==============================] - 0s 910us/step - loss: 0.3334 - accuracy: 0.8633
Epoch 89/120
250/250 [==============================] - 0s 863us/step - loss: 0.3326 - accuracy: 0.8625
Epoch 90/120
250/250 [==============================] - 0s 931us/step - loss: 0.3331 - accuracy: 0.8643
Epoch 91/120
250/250 [==============================] - 0s 869us/step - loss: 0.3331 - accuracy: 0.8625
Epoch 92/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3330 - accuracy: 0.8646
Epoch 93/120
250/250 [==============================] - 0s 1ms/step - loss: 0.3334 - accuracy: 0.8641
Epoch 94/120
250/250 [==============================] - 0s 902us/step - loss: 0.3330 - accuracy: 0.8633
Epoch 95/120
250/250 [==============================] - 0s 887us/step - loss: 0.3325 - accuracy: 0.8633
Epoch 96/120
250/250 [==============================] - 0s 889us/step - loss: 0.3327 - accuracy: 0.8644
Epoch 97/120
250/250 [==============================] - 0s 886us/step - loss: 0.3326 - accuracy: 0.8633
Epoch 98/120
250/250 [==============================] - 0s 901us/step - loss: 0.3331 - accuracy: 0.8648
Epoch 99/120
250/250 [==============================] - 0s 874us/step - loss: 0.3329 - accuracy: 0.8630
Epoch 100/120
250/250 [==============================] - 0s 859us/step - loss: 0.3323 - accuracy: 0.8637
Epoch 101/120
250/250 [==============================] - 0s 871us/step - loss: 0.3328 - accuracy: 0.8649
Epoch 102/120
250/250 [==============================] - 0s 861us/step - loss: 0.3325 - accuracy: 0.8640
Epoch 103/120
250/250 [==============================] - 0s 840us/step - loss: 0.3326 - accuracy: 0.8634
Epoch 104/120
250/250 [==============================] - 0s 851us/step - loss: 0.3325 - accuracy: 0.8646
Epoch 105/120
250/250 [==============================] - 0s 902us/step - loss: 0.3315 - accuracy: 0.8649
Epoch 106/120
250/250 [==============================] - 0s 856us/step - loss: 0.3328 - accuracy: 0.8659
Epoch 107/120
250/250 [==============================] - 0s 881us/step - loss: 0.3321 - accuracy: 0.8651
Epoch 108/120
250/250 [==============================] - 0s 866us/step - loss: 0.3326 - accuracy: 0.8631
Epoch 109/120
250/250 [==============================] - 0s 850us/step - loss: 0.3322 - accuracy: 0.8652
Epoch 110/120
250/250 [==============================] - 0s 897us/step - loss: 0.3324 - accuracy: 0.8648
Epoch 111/120
250/250 [==============================] - 0s 857us/step - loss: 0.3316 - accuracy: 0.8643
Epoch 112/120
250/250 [==============================] - 0s 931us/step - loss: 0.3315 - accuracy: 0.8633
Epoch 113/120
250/250 [==============================] - 0s 843us/step - loss: 0.3323 - accuracy: 0.8631
Epoch 114/120
250/250 [==============================] - 0s 989us/step - loss: 0.3319 - accuracy: 0.8630
Epoch 115/120
250/250 [==============================] - 0s 882us/step - loss: 0.3321 - accuracy: 0.8651
Epoch 116/120
250/250 [==============================] - 0s 877us/step - loss: 0.3318 - accuracy: 0.8636
Epoch 117/120
250/250 [==============================] - 0s 911us/step - loss: 0.3318 - accuracy: 0.8666
Epoch 118/120
250/250 [==============================] - 0s 952us/step - loss: 0.3317 - accuracy: 0.8644
Epoch 119/120
250/250 [==============================] - 0s 885us/step - loss: 0.3314 - accuracy: 0.8634
Epoch 120/120
250/250 [==============================] - 0s 909us/step - loss: 0.3321 - accuracy: 0.8637

# Parte 3 - Fazendo predições e avaliando o modelo

## Prevendo os resultados com o conjunto de testes

In [19]:
y_pred = ann.predict(X_test)
y_pred

array([[0.25018567],
       [0.37992558],
       [0.21424583],
       ...,
       [0.1604864 ],
       [0.15553358],
       [0.24301049]], dtype=float32)

In [20]:
y_pred = (y_pred > 0.5)
y_pred

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

# Criando uma Confusion Matrix

In [21]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
print(cm)

[[1502   93]
 [ 194  211]]

# FIM

> Professor Diego Dorgam  
> [@diegodorgam](https://twitter.com/diegodorgam)